:root {
    --button-color: #4F56F1;
    --text-color: #1B0A42;
}

.container {
    position: relative;
    width: 1600px;
    height: 920px;
    left: 0px;
    top: 0px;

    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

.header {

    position: absolute;
    font-style: normal;
    color: var(--text-color);
    text-align: center;
    letter-spacing: 0.02em;
    text-decoration: none;
    outline: 0px;

    &__logo {
        width: 95.25px;
        height: 40.61px;
        left: 80px;
        top: 37px;
        font-family: Circular Std;
        font-weight: 900;
        font-size: 30px;
        line-height: 160%;
        letter-spacing: -0.02em;
    }

    &__nav a {
        color: var(--text-color);
        position: absolute;
        font-family: Roboto;
        font-style: normal;
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
    }

    &__nav a.home {
        width: 45px;
        height: 24px;
        left: 272.76px;
        top: 48px;
        color: var(--text-color);
        font-weight: 900;
        font-size: 19px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__nav a.home:hover {
        border: 1px solid #000000;
        font-style: var(--text-color);
    }

    &__nav a.about {

        width: 44px;
        height: 24px;
        left: 355.76px;
        top: 48px;
    }

    &__nav a.blog {
        width: 33px;
        height: 24px;
        left: 439.76px;
        top: 48px;
    }

    &__nav a.contact {
        width: 58px;
        height: 24px;
        left: 510.76px;
        top: 48px;
    }

    &__sign {
        
    }

    &__sign a.sign-in {
        text-transform: uppercase;
        position: absolute;
        width: 51px;
        height: 24px;
        left: 1320.96px;
        top: 48px;
        font-size: 14px;


    }

    &__sign a.sign-up {
        text-transform: uppercase;
        padding: 20px;
        width: 58px;
        height: 24px;
        left: 1412.26px;
        top: 30px;
        font-size: 14px;
        font-weight: bold;
        line-height: 24px;
        background: var(--button-color);
        border-radius: 6px;
        color: #FFFFFF;
    }




}

.section {
    & a.section__button {
        text-transform: capitalize;
        text-align: center;
        text-decoration: none;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0.02em;
        padding: 18px;
        position: absolute;
        width: 87.57px;
        height: 27.82px;
        left: 222.21px;
        top: 606.71px;
        background: var(--button-color);
        border-radius: 6px;
        color: #FFFFFF;
    }


    & img.image {
        position: absolute;
        width: 653.02px;
        height: 604.01px;
        left: 853px;
        top: 186px;

        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


    }

    & h1.baslık {

        position: absolute;
        width: 495px;
        height: 152px;
        left: 200px;
        top: 270.71px;
        font-family: Ramaraja;
        font-style: normal;
        font-weight: normal;
        font-size: 70px;
        line-height: 76px;
        /* or 106% */

        letter-spacing: 0.02em;

        color: #1B0A42;
    }

    & p.paragraf {

        position: absolute;
        width: 538.08px;
        height: 96px;
        left: 200px;
        top: 442.71px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 32px;
        /* or 160% */

        letter-spacing: 0.02em;

        color: #9A9A9A;

    }
}